version: "3.4"
services: 
  db:
    # image: mysql:5.7
    image: mysql:8.0.21
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_bin
    ports:
      - ${MYSQL_PORT-33306}:3306
    environment:
      MYSQL_DATABASE: cantabile
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      AMYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: password
    volumes:
      # 以下は、mysql-dataをコンテナ内の/var/lib/mysqlにマウント（共有化）する
      - mysql-data:/var/lib/mysql
  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

  app:
    restart: always
    build:
      context: ./cantabile-api
      dockerfile: ./docker/app/Dockerfile
      target: base
    # docker-composeで指定するcommandはDockerfileよりも優先される
    command: "air -c .air.toml"
    ports:
      - 1323:1323
    volumes:
      - ./cantabile-api:/app/go/base
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy

  nginx:
    restart: always
    build:
      context: ./cantabile-server
      dockerfile: ./Dockerfile
    ports:
      - "80:80"
    # volumes:
    #    - ./cantabile-server:/server
    depends_on:
      - "app"

# 名ありボリューム
# 複数のコンテナでボリュームを共有できる。
# コンテナを削除しても消えない（コンテナに依存しない）
volumes:
  mysql-data: {}
  redis-data: {}